#!/bin/bash

export UV_PROJECT_ENVIRONMENT="${VIRTUAL_ENV}"

if type devbox >/dev/null 2>&1; then
    # Automatically sets up your devbox environment whenever you cd into this
    # directory via our direnv integration:
    eval "$(devbox generate direnv --print-envrc)"
else
    source_up_if_exists
    source_env_if_exists .env

    export VIRTUAL_ENV="${PWD}/.venv"
    export PATH="${VIRTUAL_ENV}/bin:${PATH}"
fi
